// main containers
body {
  background-color: #eee;
}

#container {
  text-align: right;
  padding: 60px;
}

// user interface

#ui {

}

// game field
#field {
  display: inline-block;
  padding: 5px;
  background-color: #444;
}

.px {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #444;
  margin: 2px;

  transition: background-color .3s linear;
}

.highlighted {
  background-color: #aaa;
  &.bonus {
    background-color: #a9c7ab;
  }
  &.malus {
    //background-color: #be928b; // invisibru !!
  }
  &.wall {
    background-color: #222;
  }
}

.visited {
  background-color: #ccc;
  &.bonus {
    background-color: #269030;
  }
  &.malus {
    background-color: #bd402c;
  }
  &.wall {
    background-color: #222;
  }
}

.px.px-end {
  background-color: #194e70;
}
.px.cpx {
  transition: background-color .1s linear;
  background-color: #1a82c4;
}
