#field{padding:20px;background-color:#444;text-align:center;}
.px{display:inline-block;width:10px;height:10px;background-color:#444;margin:2px;transition:background-color 0.3s linear;}
.highlighted{background-color:#aaa;}.highlighted.bonus{background-color:#a9c7ab;}
.highlighted.wall{background-color:#222;}
.visited{background-color:#ccc;}.visited.bonus{background-color:#269030;}
.visited.malus{background-color:#bd402c;}
.visited.wall{background-color:#222;}
.px.px-end{background-color:#194e70;}
.px.cpx{transition:background-color 0.1s linear;background-color:#1a82c4;}
